node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# JSON files
scripts/*.json
scripts/argument.js

# Temp test file
test/temp.test.ts