# Used to verify contract after deployment
ETHERSCAN_API_KEY="<Input your etherscan.com api key>"
POLYGONSCAN_API_KEY="<Input your polygonscan.com api key"

# Used to deploy contract
PRIVATE_KEY="<Input your wallet private key for deploying contract>"

# Used for contract deployment & verification. Optional
POLYGON_AMOY_RPC="<Input your own RPC url for polygon amoy>"
POLYGON_MAINNET_RPC="<Input your own RPC url for mumbai net>"

# Used in test code to generate a proof using verida-js libraries
RPC_URL="<Input RPC url to targeting chain>"

# Defender keys : used for multi-sign support scripts
DEFENDER_TEAM_API_KEY="<Input your Defender Team API Key>"
DEFENDER_TEAM_API_SECRET_KEY="<Input your Defender Team API Secret>"
# Safe contract(multi-sign wallet) address
SAFE_ADDRESS="Enter your Gnosis Safe address"